/* 1CV instruction manual */
h1,h2,h3,h4,h5,h6{ margin-top:0px; margin-bottom:10px; text-transform:uppercase}
body { color: #444; font: normal 16px/24px Helvetica,Arial,sans-serif; margin:0px}
p { margin-bottom: 10px; margin-top:0px }
p + h2, p + h3, img + h3, img + h2, img + p{ margin-top:25px }
blockquote{ background-color:#eee; padding:10px}
.section{ margin-top:25px}
.content-wrapper {margin: 0 auto; margin-bottom: 200px; max-width: 800px; padding-top:40px }
a{ color:#444}
small{ font-size:11px}
.header{ background-color:#87ceeb; padding-top:5px;  }
.logo{margin: 0 auto;  max-width: 800px;}
.gototop { width: 60px; height: 60px; display: block; position: fixed; top: 20px; right: 20px; background: url(../images/gototop.png);}

